[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/gitlink-vim"]
	path = vim/bundle/gitlink-vim
	url = git@github.com:DuBistKomisch/gitlink-vim.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/swift.vim"]
	path = vim/bundle/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-actionscript"]
	path = vim/bundle/vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-jsx-typescript"]
	path = vim/bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "vim/bundle/vim-renamer"]
	path = vim/bundle/vim-renamer
	url = https://github.com/qpkorr/vim-renamer
[submodule "vim/bundle/QFEnter"]
	path = vim/bundle/QFEnter
	url = https://github.com/yssl/QFEnter
