[Unit]
Description=Scream IVSHMEM pulse receiver
After=pipewire-pulse.service
Wants=pipewire-pulse.service

[Service]
Type=simple
ExecStartPre=/usr/bin/truncate -s 0 /dev/shm/scream
ExecStartPre=/usr/bin/dd if=/dev/zero of=/dev/shm/scream bs=1M count=2
ExecStart=/usr/bin/scream -m /dev/shm/scream
Restart=always
#RestartSec=10s

[Install]
WantedBy=default.target
