[Unit]
Description=SSH key agent (%i)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent-%i.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
